<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srt.dao.StudyRoomMapper" >
  <resultMap id="BaseResultMap" type="com.srt.entity.StudyRoom" >
    <constructor >
      <idArg column="roomid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="roomsize" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    roomid, roomsize
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from studyroom_info
    where roomid = #{roomid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from studyroom_info
    where roomid = #{roomid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.srt.entity.StudyRoom" >
    insert into studyroom_info (roomid, roomsize)
    values (#{roomid,jdbcType=VARCHAR}, #{roomsize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.srt.entity.StudyRoom" >
    insert into studyroom_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomid != null" >
        roomid,
      </if>
      <if test="roomsize != null" >
        roomsize,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomid != null" >
        #{roomid,jdbcType=VARCHAR},
      </if>
      <if test="roomsize != null" >
        #{roomsize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.srt.entity.StudyRoom" >
    update studyroom_info
    <set >
      <if test="roomsize != null" >
        roomsize = #{roomsize,jdbcType=VARCHAR},
      </if>
    </set>
    where roomid = #{roomid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.srt.entity.StudyRoom" >
    update studyroom_info
    set roomsize = #{roomsize,jdbcType=VARCHAR}
    where roomid = #{roomid,jdbcType=VARCHAR}
  </update>
</mapper>